extends layout

include mixins/anchorButton

block content
  +anchorButton('Add new message', '/add-message', 'blue')
  if currentUser && !currentUser.isMember
    +anchorButton('Become a member', '/membership', 'indigo').ml-2
  if currentUser && currentUser.isAdmin
    +anchorButton('Admin controls', '/admin', 'indigo').ml-2

  if !messages.length
    p.mt-16.text-center There are no messages.
  else
    section.message-container.mt-4.flex.flex-col.gap-6
      each message in messages
        article.message-card.bg-white.p-4.shadow-lg
          h2.message-title.font-semibold= message.title
          if currentUser && currentUser.isAdmin
            button.delete-btn.justify-self-end(data-id=message.id) ❌
          p.message-msg= message.msg

          if currentUser && currentUser.isMember
            span.message-author.mt-2.text-sm.text-zinc-500 Posted by #{ message.author.fullName }&nbsp;
            time.message-timestamp.mt-2.block.justify-self-end.text-sm.text-zinc-500= message.timestamp_formatted

    script(src='/js/deleteMessage.js')
